<!-- This is your landing page aka your homepage -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planets Page</title>
 </head>
 <body>
   <a href="/planets">Browse our Solar System</a> <!-- adds link to the current webpage (which is the homepage) that will take you to the index of planets-->
   <a href="/planets/new">Add New Planet</a> <!-- adds link to the current webpage (which is the homepage) that will take you to the form to add a new planet-->
    <h1>Welcome to our Solar System!</h1>
    <p>Check out our planets </p>
 </body>
 </html>