<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planets Index</title>
</head>
<body>
    <h1>All Planets: you left off at 01:18:37 on the class recording</h1>
</body>
</html>