<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Planet!</title>
</head>
<body>
    <a href="/">Homepage</a> <!-- adds link to the current webpage (which is the form to make a new planet) that will take you to the homepage-->
    <a href="/planets/">Browse our Solar System</a> <!-- adds link to the current webpage (which is the form to make a new planet) that will take you to index of planets-->
    <h1>Add a new planet to our Solar System!</h1>
    <form action="/planets" method="POST"> <!-- action is your ROUTE, method is the HTML method you want to perform -->
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"/> <!-- when writing this kind of code, make sure it matches your Schema/model. in this case, it is name on models/planets.js. -->
        <br>
        <br>
        <label for="hasRing">Does this planet have any rings?</label>
        <input type="checkbox" name="hasRing" id="hasRing"/>
        <br>
        <br>
        <label for="hasMoon">Does this planet have any moons?</label>
        <input type="checkbox" name="hasMoon" id="hasMoon"/>
        <br>
        <br>
        <label>Is this planet considered an inner planet?</label>
        <input type="radio" name="innerPlanet" id="innerPlanet"/>
        <br>
        <br>
        <label>Is this planet considered an outer planet?</label>
        <input type="radio" name="outerPlanet" id="outerPlanet"/>
        <br>
        <br>
        <button type="submit">Add Planet</button>
    </form>
</body>
</html>